<!DOCTYPE html>
<html>
<head>
  <title>Quiz1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="box">
<h1><%= @word.advice%></h1>
<p><%= @word.author%></p>
</div>
<div class="links">
<span><%= link_to 'Home ', root_path %></span>
<%= link_to ' Write', new_word_path %>

</div>

<%= yield %>


</body>
</html>
